.pagination {
    margin: 0;
    padding: 0;
    font: 500 14px sans-serif;
}

.pagination__item {
    margin-right: 5px;
    border: 1px solid #999;
    border-radius: 2px;
    display: inline-block;
    color: #555;
    cursor: pointer;
}

.pagination__item:last-child {
    margin-right: 0
}

.pagination__item.active {
    font-weight: bold;
    background: #aaa;
    color: white;
    cursor: default;
}
.pagination__item[disabled] {
    border-color: #ccc;
    color: #bbb;
    cursor: default;
}

.pagination__link {
    padding: 6px 12px;
    display: block;
    text-decoration: none;
    color: inherit;
    cursor: inherit;
}